body {
  margin: 0;
  height: 100vh;
  background-image: radial-gradient(
    ellipse at bottom,
    #1a2430 0%,
    #030617 100%
  );
  color: white;
  --primary-color: #dbdbfc;
  --dark-color: #121212;
  --hover-color: #ffffff;
  --hover-color-gray: #666;
  font-family: "Noto Serif KR", serif;
  /* font-family: "Noto Sans KR", sans-serif; */
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@900&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Noto+Sans+KR&display=swap"); */
