body {
  margin: 0;
  background-color: black;
  color: white;
  --primary-color: #9798e2;
  --hover-color: white;
  --hover-color-gray: #666;
  font-family: "Anonymous Pro", monospace;
}

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
